@import '../../styles/colors';

.main {
  height: calc(100vh - 70px);

  .aside {
    border-right: 1px solid $gray-opacity;
  }

  .home-section {
    grid-template-columns: auto auto auto;
    position: relative;
    overflow-y: scroll;
  }
}

.list-group {
  overflow-y: scroll;
  max-height: 200px;

  &__items {
    &:hover {
      color: $white;
      cursor: pointer;
      background: $gray-cc;
      transition: color;
    }
  }
}
