*.ico
*.log
*.sh
*.svg
.editorconfig
.eslintignore
.gitignore
.idea
.prettierignore
src/favicon.ico
build
coverage
.husky
.DS_Store
.eslintrc
.prettierrc.json
.stylelintrc.json
package-lock.json
package.json
public

