@import '../../styles/colors';

.navbar {
  display: flex;
  justify-content: flex-start;
  background-color: $gray-25;
  position: absolute;

  &__link {
    text-decoration: none;

    &-light {
      color: $white;
    }

    &-dark {
      color: $purple-90
    }
  }
}

.bg-purple {
  background-color: $purple-90;
}

.btn-purple {
  background-color: $purple-90;
  border: none;

  &:hover {
    background-color: $purple-50;
  }
}
