/* SLATE COLORS */
$slate-20: #eff5f8;
$slate-40: #e4edf2;
$slate-45: #dde6eb;
$slate-60: #97a6b0;
$slate-brand: #435969;
$slate-80: #344755;
$slate-90: #2f6c8a;
$slate-95: #1e465a;
$slate-link: #3d7095;

/* SAND COLORS */
$sand-light: #f6f4f0;
$sand-normal: #f0ede7;
$sand-dark: #e1dcd1;

/* PINK COLORS */
$pink-10: #f93d5c;
$pink-20: #db5565;
$pink-25: #dc3545;

/* BLUE COLORS */
$blue-0: #07f;
$blue-5: #007bff;
$blue-7: #0056b3;
$blue-10: #afd5ff;
$blue-20: #80bdff;
$blue-25: #54708b;
$blue-26: #47779b;
$blue-27: #2f6c8a;
$blue-30: #435968;
$blue-31: #3c7095;
$blue-90: #1e465a;
$blue-100: #17a2b8;

/* ORANGE COLORS */
$brown: #46292b;
$rough: #781303;
$red-10: #db3646;
$orange: #ef5a2f;
$orange-10: #ef592f;
$orange-20: #d04118;
$orange-30: #f55a1d;
$orange-40: #b43619;
$orange-50: #ee592f;
$orange-60: #ec4b24;
$orange-active: #ea3c3e;
$golden-rod: #f9b04e;
$golden-rod-lt: #ffefda;
$yellow-10: #ffc107;

/* WHITE */
$white: #fff;
$black: #000;
$white-opacity: rgb(255 255 255 / 0%);

/* GRAY */
$gray-0: #efefef;
$gray-5: #f7f7f7;
$gray-6: #f2f2f2;
$gray-7: #e9ecef;
$gray-8: #eee;
$gray-10: #ddd;
$gray-15: #f8f6f3;
$gray-20: #bbb;
$gray-25: #cfd4d8;
$gray-30: #aaa;
$gray-40: #949494;
$gray-50: #777;
$gray-60: #5e5e5e;
$gray-65: #7c7b7a;
$gray-70: #4b4b4b;
$gray-75: #37373c;
$gray-76: #212529;
$gray-80: #333;
$gray-90: #f5f5f5;
$gray-97: #d8d8d8;
$gray-100: #c4c4c4;
$gray-104: rgb(230 230 230 / 65%);
$gray-105: #e5e5e5;
$gray-110: #dee2e6;
$gray-120: #5d5d5d;
$gray-130: #f0ede7;
$gray-95: #e8e8e8;
$gray-96: #e8e8e8;
$gray-98: rgb(0 0 0 / 54%);
$gray-99: rgb(0 0 0 / 87%);
$gray-worksheet: #99a3aa;
$gray-cc: #ccc;
$gray-opacity-1: rgb(0 0 0 / 3%);

/* BEIGE */
$beige-0: #f7f6f3;
$beige-10: #fbf4d3;
$beige-20: #fef9e9;

/* GREEN */
$green-10: #02955f;
$green-20: #359e4c;
$green-30: #28a745;
$overlay-background-color: rgb(52 71 85 / 67%);
$shadow-1: rgb(0 0 0 / 7%);
$shadow-2: rgb(206 206 206 / 50%);
$shadow-3: rgb(0 0 0 / 12%);
$shadow-4: rgb(113 113 113 / 5%);
$shadow-5: rgb(0 0 0 / 13%);
$border-1: rgb(198 203 212 / 30%);
$select-container-shadow: rgb(0 0 0 / 13%);
$gradient-1: rgb(28 74 123 / 28%);
$gradient-2: rgb(72 20 5 / 52%);
$gradient-3: rgb(0 0 0 / 0%);
$text-shadow-1: rgb(0 0 0 / 50%);
$shadow-7: rgb(0 0 0 / 14%);
$shadow-11: rgb(0 0 0 / 11%);
$shadow-12: rgb(0 0 0 / 22%);
$shadow-13: rgb(0 0 0 / 25%);
$shadow-14: rgb(144 144 144 / 38%);
$input-inner-shadow: rgb(0 0 0 / 11%);
$border-color-1: rgb(151 166 176 / 57%);
