@import '../../../styles/colors';
@import '../../../styles/mixins';

.toast {
  position: absolute;
  top: 2%;
  right: 2%;
  z-index: 1000;

  &-success {
    @include toast-success;

    & > * {
      @include toast-success;
    }
  }

  &-error {
    @include toast-error;

    & > * {
      @include toast-error;
    }
  }
}
